<html>
    <title>Flim form</title>

    <body>
        <div class="form">
            <form method="POST" action="">
                {{ form.movie_name.label }} {{ form.movie_name }}
                <br>
                {{ form.movie_genre.label }} {{ form.movie_genre }}
                <br>
                {{ form.movie_rating.label }} {{ form.movie_rating }}
                <br>
                {{ form.director.label }} {{ form.director }}
                <br>
                {{ form.release_date.label }} {{ form.release_date }}
                <br>
                {{form.submit}}
            </form>
        </div>
    </body>

</html>