<html>
    <title>Update Film</title>
    <h1>Hi! movie fans input your most recent film you watched</h1>
    <nav>
        <ul>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('add') }}">add a film</a>
            <a href="{{ url_for('movies') }}">update</a>
            <a href="{{ url_for('movies') }}">Movie list</a>
        </ul>
    </nav>

    <body>

        <div class="form">
            <form method="POST" action="/update/{{ film.movie_id }}">


                <input type="text" name="movie_name" value="{{ film.movie_name }}">
                <br>
                <input type="text" name="movie_genre" value="{{ film.movie_genre }}">
                <br>
                <input type="text" name="movie_rating" value="{{ film.movie_rating }}">
                <br>
                <input type="text" name="director" value="{{ film.director }}">
                

                <button type="submit"> Submit</button>
            </form>
        </div>
    </body>

</html>